@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrew.css);
@import url(https://fonts.googleapis.com/earlyaccess/opensanshebrewcondensed.css);

body {
  margin: 20px 0px;
  font-family: 'Open Sans Hebrew';
  direction: rtl;
  background: #edf1f5;
}

/*add you code here*/
